{% extends "AppFormulario/mascara.html" %}
{% load static %}

{% block contenidoVariable %}

<h1>Usuario Intermedio </h1>

<a href="{% url 'NuevoIntermedio' %}">New Intermedio</a>

{% for inter in intermedios %}
    <li>Nombre: {{inter.nombre}}
        <p>
            <a href="{% url 'DetalleIntermedio' inter.pk %}">Ver</a>
            <a href="{% url 'EditarIntermedio' inter.pk %}">Editar</a>
            <a href="{% url 'BorrarIntermedio' inter.pk %}">Borrar</a>

        </p>

    </li>
    
{% endfor %}
    
{% endblock  %}